@media print {
body {background:white; 
     font-size:14pt; 
     margin:0 }
	 
#header { 	height: 35px; 
			width: 100%; 
			margin: 20px 0; 
			background: #222; 
			text-align: center; 
			color: white; 
			font: bold 15px Helvetica, Sans-Serif; 
			text-decoration: uppercase; 
			letter-spacing: 10px; 
			padding: 8px 0px; 
}

#company {
	height: 30px; 
	width: 387px; 
	margin:auto;
	padding:5px;
	font: Helvetica, Verdana, Geneva, sans-serif;
	color:black; 
}

#phone {
	height: 30px; 
	width: 387px; 
	margin:auto;
	padding:5px;
	font: Helvetica, Verdana, Geneva, sans-serif;
	color:black; 
}

#address {
	height: 60px; 
	width: 387px; 
	margin:auto;
	padding:5px;
	font: Helvetica, Verdana, Geneva, sans-serif;
	color:black; 
}

#des { 
	width:417px;
	height:400px; 

}

#iname {
	width:150px;
	height:400px;
}

#cost {
	width:219px;
	height:400px;
	
}

body {
	font:Helvetica, Verdana, Geneva, sans-serif; 
	font-size:14px; 
	
}.smalltable {
	text-align: center;
}
.smalltable1 {
	text-align: center;
}
.invoicetable {
	border: 1px solid #333;
}
.invoiceheader {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	background-color: #666;
}

.cont {
	margin:0, auto;
}

#problem { 
	width:800px;
	height:200px;
}

#solution { 
	width:800px;
	height:200px;
}

#time { 
	width:800px;
	height:100px;
}
	 
}